<div id = 'get_data'>
  <%= link_to '获得最新活动', 'javascript:void(0)', data:{url: activities_url}%>
</div>
  <table id = 'activities'>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= link_to activity.title, "/?id=#{activity.id}" %></td>
        <td><%= link_to '更新数据', "/import?id=#{activity.id}", remote: true %></td>
        <td><%= link_to '上传数据', "/uptoserver?id=#{activity.id}",remote: true%></td>
      </tr>
    <% end %>
  </table>


<div>
  <form id = 'search_and_checkin'>
    <input type='text' id = 'keyword' class = 'form-control'>
  </form>
</div>

<h1><%= Activity.find(params[:id]).title unless params[:id].nil? %></h1>
<div id = 'applies'>
  <%= render "shared/applies" %>
</div>